.PageContainer {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;

    .ImageUpload {
        display: block;
        width: 500px;
        height: 200px;

        padding: 24px;
        margin: 48px auto;
    }

    .StatusText {
        display: block;
        text-align: center;
    }

    .PredictionActions {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        gap: 12px;
    }

    .PredictionImage {
        display: block;
        margin: 48px auto;
    }
}
