.PageContainer {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;

    .Header {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .ImageUpload {
        display: block;
        width: 500px;
        height: 200px;

        padding: 24px;
        margin: 24px auto;
    }

    .Status {
        display: block;
        text-align: center;

        margin-bottom: 24px ;

        .StatusText{
            margin: 0 8px;
        }
    }

    .PredictionImage {
        display: block;
        margin: 24px auto;

    }
}
